# Web Scraping - Asignment 4
By Mónica Atiaga

Batch - DSNB1222

Instructions:
* Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of your choice. 
* You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get information about selenium Exceptions. You may visit following links:

1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

In [1]:
# Importing libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, TimeoutException 


from bs4 import BeautifulSoup
import time
import regex as re

#### My Custom Functions (at the end section)


* get_attribute_el(webelement, attribute)
* text_el(webelement)
* go_next_page(driver, xpath)
* load_items_by(driver, n=None, **kwargs)
* remove_popup(xpath)
* scrape_item_detail(driver, not_found_value = '-', **kwargs)
* scrape_data_by_urls(urls, attributes_det)
* web_scraping_table(xpath_table, init_data=1, footer=False)

All functions used are my own. As we have progressed in the assignments, I have been improving the code so that they are more general and can be applied in different scenarios. I decided to do it this way to improve and progress my knowledge of python.
By Monica Atiaga

## Assignment

1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos 

    You need to find following details: 
        A) Rank 
        B) Name 
        C) Artist 
        D) Upload date 
        E) Views

In [161]:
# Open the Driver 
driver = webdriver.Chrome()

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url) 

wait_time = 2

# Waiting for the data
driver.implicitly_wait(5)

# Scraping the table - function at the end section
xpath_table = '//table[@class="wikitable sortable jquery-tablesorter"]'
df, columns = web_scraping_table(xpath_table, footer=True)

# cleaning driver
driver.quit()

# Setting up the dataframe
df.reset_index(drop=True, inplace=True)
df.drop(['Note'], axis=1, inplace=True)
df.columns = ['Rank', 'Name', 'Artist', 'Views (billions)', 'Upload date']

# Saving the data frame
df.to_csv('datasets/q1_most_viewed_videos.csv')
display(df)

Columns: ['No.', 'Video name', 'Uploader', 'Views (billions)', 'Publication date', 'Note']
Recovered 30 records.

,Rank,Name,Artist,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,13.18,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.23,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,6.76,"October 8, 2016"
3,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,6.33,"May 2, 2018"
4,5.,"""Shape of You""[18]",Ed Sheeran,6.05,"January 30, 2017"
5,6.,"""See You Again""[21]",Wiz Khalifa,5.98,"April 6, 2015"
6,7.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,5.46,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,5.42,"March 6, 2014"
8,9.,"""Uptown Funk""[28]",Mark Ronson,5.00,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,4.94,"February 27, 2018"
10,11.,"""Gangnam Style""[30]",Psy,4.86,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[36]",El Chombo,4.41,"April 5, 2018"
13,14.,"""Axel F""[37]",Crazy Frog,4.00,"June 16, 2009"
14,15.,"""Sugar""[38]",Maroon 5,3.91,"January 14, 2015"
15,16.,"""Roar""[39]",Katy Perry,3.84,"September 5, 2013"
16,17.,"""Counting Stars""[40]",OneRepublic,3.84,"May 31, 2013"
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,3.73,"June 25, 2018"
18,19.,"""Sorry""[42]",Justin Bieber,3.69,"October 22, 2015"
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.68,"June 4, 2010"
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,3.63,"October 7, 2014"
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.63,"June 14, 2018"
22,23.,"""Dark Horse""[46]",Katy Perry,3.56,"February 20, 2014"
23,24.,"""Perfect""[47]",Ed Sheeran,3.51,"November 9, 2017"
24,25.,"""Faded""[48]",Alan Walker,3.49,"December 3, 2015"
25,26.,"""Let Her Go""[49]",Passenger,3.48,"July 25, 2012"
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,3.51,"January 26, 2018"
27,28.,"""Girls Like You""[51]",Maroon 5,3.45,"May 31, 2018"
28,29.,"""Bailando""[52]",Enrique Iglesias,3.43,"April 11, 2014"
29,30.,"""Lean On""[53]",Major Lazer,3.43,"March 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv. 

    Url = https://www.bcci.tv/.
    
    You need to find following details: 
        A) Match title (I.e. 1 ODI) 
        B) Series 
        C) Place 
        D) Date 
        E) Time 
    Note: - From bcci.tv home page you have reach to the international fixture page through code

In [79]:
# Open the Driver 
url = "https://www.bcci.tv/"
driver = webdriver.Chrome()
driver.get(url) 

wait_time = 3
time.sleep(wait_time)

# Reaching the international fixture page
xpath_link = '//a[@data-element_text="INTERNATIONAL"]'
link = driver.find_element(By.XPATH, xpath_link)
link.click()
print("Reaching the international fixtures...")

time.sleep(wait_time)

# Removing the cookies pop up
remove_popup('//*[@class="cookie__accept btn btn-primary"]')

# Loading More Fixtures until there is no more
while(True):
    try:
        wait_time = 5
        time.sleep(wait_time)
        xpath_next = '//button[contains(@class,"match-btn")]'
        go_next_page(driver, xpath_next)
    except Exception as e:
        print(f"NO More Fixtures: {e.msg}")
        break
        
# Scraping the data -function at the end section
fn_text = lambda web: text_el(web)
attributes = {'Match title': [By.XPATH, '//*[contains(@class,"matchOrderText")]', fn_text, False ],
              'Series': [By.XPATH, '//*[@class="match-tournament-name ng-binding"]', fn_text, False ],
              'Place': [By.XPATH, '//*[@class="match-place ng-scope"]', fn_text, False ],
              'Date': [By.XPATH, '//*[@class="match-dates ng-binding"]', fn_text, False], 
              'Time': [By.XPATH, '//*[@class="match-time no-margin ng-binding"]', fn_text, False]}
df = load_items_by(driver, None, **attributes)

# Cleaning the driver
driver.quit()

# Cleaning the data frame
pattern1 = r'-(.*)$'
df['Place'] = df['Place'].str.extract(pattern1)
pattern2 = r'(.*) -'
df['Match title'] = df['Match title'].str.extract(pattern2)

# Saving the data frame
df.to_csv("datasets/q2_international_fixtures.csv")

Reaching the international fixtures...
Pop-up removed
 Going to More Fixtures
 Going to More Fixtures
 Going to More Fixtures
 Going to More Fixtures
NO More Fixtures: no such element: Unable to locate element: {"method":"xpath","selector":"//button[contains(@class,"match-btn")]"}
  (Session info: chrome=115.0.5790.171); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Match title retrieved and included: 38
Series retrieved and included: 38
Place retrieved and included: 38
Date retrieved and included: 38
Time retrieved and included: 38

In [80]:
df

,Match title,Series,Place,Date,Time
0,1st T20I,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",18 AUG 2023,9:00 AM HDE
1,2nd T20I,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",20 AUG 2023,9:00 AM HDE
2,3rd T20I,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",23 AUG 2023,9:00 AM HDE
3,1st ODI,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",1 SEP 2023,11:30 PM HDE
4,2nd ODI,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",3 SEP 2023,11:30 PM HDE
5,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,...",22 SEP 2023,3:00 AM HDE
6,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",24 SEP 2023,3:00 AM HDE
7,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",27 SEP 2023,3:00 AM HDE
8,1st ODI,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai",8 OCT 2023,3:30 AM HDE
9,2nd ODI,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi",11 OCT 2023,3:30 AM HDE
10,3rd ODI,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad",14 OCT 2023,3:30 AM HDE
11,4th ODI,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune",19 OCT 2023,3:30 AM HDE
12,5th ODI,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium,...",22 OCT 2023,3:30 AM HDE
13,6th ODI,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,29 OCT 2023,3:30 AM HDE
14,7th ODI,ICC MENS WORLD CUP 2023,"Wankhede Stadium, Mumbai",2 NOV 2023,3:30 AM HDE
15,8th ODI,ICC MENS WORLD CUP 2023,"Eden Gardens, Kolkata",5 NOV 2023,3:30 AM HDE
16,9th ODI,ICC MENS WORLD CUP 2023,"M Chinnaswamy Stadium, Bengaluru",12 NOV 2023,3:30 AM HDE
17,1st T20I,AUSTRALIA TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stad...,23 NOV 2023,8:30 AM HDE
18,2nd T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium, Thiruvanant...",26 NOV 2023,8:30 AM HDE
19,3rd T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium, Guwahati",28 NOV 2023,8:30 AM HDE
20,4th T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Vidarbha Cricket Association Stadium, Nagpur",1 DEC 2023,8:30 AM HDE
21,5th T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad",3 DEC 2023,8:30 AM HDE
22,1st T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead, Durban",10 DEC 2023,11:00 AM HDE
23,2nd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha",12 DEC 2023,11:00 AM HDE
24,3rd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"The Wanderers Stadium, Johannesburg",14 DEC 2023,11:00 AM HDE
25,1st ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,17 DEC 2023,3:30 AM HDE
26,2nd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha",19 DEC 2023,3:30 AM HDE
27,3rd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,"Boland Park, Paarl",21 DEC 2023,3:30 AM HDE
28,1st Test,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion",26 DEC 2023,3:00 AM HDE
29,2nd Test,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town",3 JAN 2024,3:00 AM HDE
30,1st T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,...",11 JAN 2024,8:30 AM HDE
31,2nd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",14 JAN 2024,8:30 AM HDE
32,3rd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru",17 JAN 2024,8:30 AM HDE
33,1st Test,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad",24 JAN 2024,11:00 PM HDE
34,2nd Test,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stad...,1 FEB 2024,11:00 PM HDE
35,3rd Test,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",14 FEB 2024,11:00 PM HDE
36,4th Test,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi",22 FEB 2024,11:00 PM HDE
37,5th Test,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,...",6 MAR 2024,11:00 PM HDE

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
   
   Url = http://statisticstimes.com/
   
   You have to find following details: 
        A)Rank 
        B) State 
        C) GSDP(18-19)- at current prices 
        D) GSDP(19-20)- at current prices 
        E) Share(18-19) 
        F) GDP($ billion) 
    Note: - From statisticstimes home page you have to reach to economy page through code.

In [181]:
# Open the Driver 
url = "http://statisticstimes.com/"
driver = webdriver.Chrome()
driver.get(url) 

wait_time = 3
time.sleep(wait_time)
remove_popup('//*[@aria-label="dismiss cookie message"]')

# Opening option Economy
try:
    time.sleep(wait_time)
    # xpath_abs = '/html/body/div[2]/div[1]/div[2]/div[2]/button'
    xpath_rel = '//button[contains(text(),"Economy")]'
    economy_link = driver.find_element(By.XPATH, xpath_rel)
    economy_link.click()

    india_link = driver.find_element(By.XPATH,'//div[@class="dropdown-content"]//a[3]')
    india_link.click()
    print("Going to >> Economy >> India")
    
    # Removing advs
    actions = ActionChains(driver)
    x_coordinate = 300
    y_coordinate = 200
    # Moving cursor and click
    actions.move_by_offset(x_coordinate, y_coordinate).click().perform()
    print("Removing advs")
    
except NoSuchElementException:
    print("Option can't be found")
    
try:
    # Going to the India GDP page
    time.sleep(wait_time)
    xpath = '//a[contains(text(),"GDP of Indian states")]/ancestor::li'
    link = driver.find_element(By.XPATH, xpath)
    link.click()
    print("Going to State-wise GDP of India")
except NoSuchElementException:
    print("Link India GDP can't be found")

    
try:
    # Removing the advs
    xpaths_adv = ['//*[@id="hideSlideBanner"]']
    el = driver.find_element(By.XPATH, xpaths_adv[0])
    el.click()
    el.get_attribute("innerHTML")
    print("Removing advs")
except NoSuchElementException:
    print("No advs")    

    
# Scraping the data
xpath_table = '//table[@id="table_id"]'
df, columns = web_scraping_table(xpath_table, init_data=2, footer=True)

# Cleaning the driver
driver.quit()

# Setting columns
df.columns = ['Rank', 'State','GSDP(19-20) - Current prices', 'GSDP(18-19) - Current prices', 'Share(18-19)', 'GDP ($billion)', 'GSDP','GSDP']
df.drop(['GSDP'], axis=1, inplace=True)

# Saving the dataframe
df.to_csv('datasets/q3_GSDP_India_states')

df

Pop-up removed
Going to >> Economy >> India
Removing advs
Going to State-wise GDP of India
Removing advs
Columns: ['Rank', 'State', 'GSDP (Cr INR at Current prices)', 'Share', 'GDP ($billion)', 'GSDP (Cr INR at 2011-12 prices)']
Recovered 33 records.

,Rank,State,GSDP(19-20) - Current prices,GSDP(18-19) - Current prices,Share(18-19),GDP ($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com. 

    Url = https://github.com/

    You have to find the following details: 

        A) Repository title 
        B) Repository description 
        C) Contributors count 
        D) Language used 
    Note: - From the home page you have to click on the trending option from Explore menu through code.

In [274]:
# Open the Driver 
url = "https://github.com/"
driver = webdriver.Chrome()
driver.get(url) 

wait_time = 3
time.sleep(wait_time)

# Selecting Trending page
try:
    open_source_menu = driver.find_element(By.XPATH, '//ul[@class="d-lg-flex list-style-none"]/li[3]')
    open_source_menu.click()
    print("Open Source option...")

    trending_link = driver.find_element(By.XPATH, '//*[contains(text(),"Trending")]')
    trending_link.click()
    print("Going to Trending page...")
    
except NoSuchElementException as e:
    print(f"{e.msg}")
except Exception as e:
    print(f"{e.msg}")
    
# Scraping the data: Repository title and URL for further scraping

# Defining lambda functions to retrieved each element
fn_text = lambda web: text_el(web)
fn_href = lambda web: get_attribute_el(web,'href')

# Configuring xpaths
attributes = {'Repository Title': [By.XPATH, '//*[@class="Box-row"]/h2', fn_text, False ],
              'URL': [By.XPATH, '//a[@class="Link"]', fn_href, False ]}

attributes_det = {'Repository description': [By.XPATH, '//p[@class="f4 my-3"]', fn_text, False],
                  'Contributors count' : [By.XPATH, '//a[contains(text(),"Contributors")]/span', fn_text, False],
                  'Language used': [By.XPATH, '//span[@class="color-fg-default text-bold mr-1"]', fn_text, True]}

# Retrieving Repository title and URL 
wait_time = 5
time.sleep(wait_time)
df_repo = load_items_by(driver, None, **attributes)

# Scraping detail info
wait_time = 5
time.sleep(wait_time)
df_det = scrape_data_by_urls(df_repo['URL'], attributes_det)

# Cleaning the driver
driver.quit()

# Checking the dimensions of dataframes
if len(df_det) == len(df_repo):
    df_repo = pd.concat([df_repo, df_det], axis=1)

# Saving the data frame
df_repo.to_csv('datasets/q4_repositories.csv')
print("Saving the data")

Open Source option...
Going to Trending page...
Repository Title retrieved and included: 25
URL retrieved and included: 25
The page could not be loaded completed within the specified time. 1/25, URL: https://github.com/a16z-infra/ai-town
Retrieving Details of record: 2/25, url: https://github.com/opentffoundation/manifesto
The page could not be loaded completed within the specified time. 3/25, URL: https://github.com/lllyasviel/Fooocus
The page could not be loaded completed within the specified time. 4/25, URL: https://github.com/varunshenoy/opendream
The page could not be loaded completed within the specified time. 5/25, URL: https://github.com/modelscope/facechain
Retrieving Details of record: 6/25, url: https://github.com/Azure-Samples/azure-search-openai-demo
The page could not be loaded completed within the specified time. 7/25, URL: https://github.com/chatchat-space/Langchain-Chatchat
The page could not be loaded completed within the specified time. 8/25, URL: https://github.com/morph-labs/rift
The page could not be loaded completed within the specified time. 9/25, URL: https://github.com/NVlabs/neuralangelo
Retrieving Details of record: 10/25, url: https://github.com/ProfSynapse/Synapse_CoR
Retrieving Details of record: 11/25, url: https://github.com/steven2358/awesome-generative-ai
Retrieving Details of record: 12/25, url: https://github.com/ibaiw/2023Hvv
Retrieving Details of record: 13/25, url: https://github.com/iam-veeramalla/aws-devops-zero-to-hero
Retrieving Details of record: 14/25, url: https://github.com/AntonOsika/gpt-engineer
Retrieving Details of record: 15/25, url: https://github.com/bigskysoftware/htmx
Retrieving Details of record: 16/25, url: https://github.com/angular/angular
The page could not be loaded completed within the specified time. 17/25, URL: https://github.com/XingangPan/DragGAN
Retrieving Details of record: 18/25, url: https://github.com/google/googletest
Retrieving Details of record: 19/25, url: https://github.com/Yidadaa/ChatGPT-Next-Web
Retrieving Details of record: 20/25, url: https://github.com/awesome-selfhosted/awesome-selfhosted
Retrieving Details of record: 21/25, url: https://github.com/vercel/next.js
Retrieving Details of record: 22/25, url: https://github.com/1Panel-dev/1Panel
Retrieving Details of record: 23/25, url: https://github.com/assafelovic/gpt-researcher
Retrieving Details of record: 24/25, url: https://github.com/dotnet/maui
Retrieving Details of record: 25/25, url: https://github.com/plbrault/youre-the-os
Saving the data

In [275]:
df_repo

,Repository Title,URL,Repository description,Contributors count,Language used
0,a16z-infra / ai-town,https://github.com/a16z-infra/ai-town,"A MIT-licensed, deployable starter kit for bui...",11,"[TypeScript, JavaScript, CSS, Dockerfile]"
1,opentffoundation / manifesto,https://github.com/opentffoundation/manifesto,The OpenTF Manifesto expresses concern over Ha...,234,"[HTML, CSS]"
2,lllyasviel / Fooocus,https://github.com/lllyasviel/Fooocus,Focus on prompting and generating,3,"[Python, Jupyter Notebook]"
3,varunshenoy / opendream,https://github.com/varunshenoy/opendream,"An extensible, easy-to-use, and portable diffu...",6,"[JavaScript, Python, HTML, CSS, Shell]"
4,modelscope / facechain,https://github.com/modelscope/facechain,FaceChain is a deep-learning toolchain for gen...,7,"[Python, Jupyter Notebook, Shell]"
5,Azure-Samples / azure-search-openai-demo,https://github.com/Azure-Samples/azure-search-...,A sample app for the Retrieval-Augmented Gener...,35,"[Python, TypeScript, Jupyter Notebook, Bicep, ..."
6,chatchat-space / Langchain-Chatchat,https://github.com/chatchat-space/Langchain-Ch...,Langchain-Chatchat (formerly langchain-ChatGLM...,74,"[Python, Shell]"
7,morph-labs / rift,https://github.com/morph-labs/rift,Rift: an AI-native language server for your pe...,13,"[Python, TypeScript, Svelte, JavaScript, Other]"
8,NVlabs / neuralangelo,https://github.com/NVlabs/neuralangelo,"Official implementation of ""Neuralangelo: High...",2,"[Python, Shell, Jupyter Notebook]"
9,ProfSynapse / Synapse_CoR,https://github.com/ProfSynapse/Synapse_CoR,-,-,-
10,steven2358 / awesome-generative-ai,https://github.com/steven2358/awesome-generati...,A curated list of modern Generative Artificial...,27,-
11,ibaiw / 2023Hvv,https://github.com/ibaiw/2023Hvv,2023 HVV情报速递~,-,-
12,iam-veeramalla / aws-devops-zero-to-hero,https://github.com/iam-veeramalla/aws-devops-z...,AWS zero to hero repo for devops engineers to ...,2,"[Python, HCL, Shell, Dockerfile]"
13,AntonOsika / gpt-engineer,https://github.com/AntonOsika/gpt-engineer,"Specify what you want it to build, the AI asks...",57,"[Python, Makefile, Other]"
14,bigskysoftware / htmx,https://github.com/bigskysoftware/htmx,</> htmx - high power tools for HTML,215,"[JavaScript, HTML, Go, CSS, Ruby, TypeScript]"
15,angular / angular,https://github.com/angular/angular,The modern web developer’s platform,"1,767","[TypeScript, JavaScript, Starlark, HTML, CSS, ..."
16,XingangPan / DragGAN,https://github.com/XingangPan/DragGAN,Official Code for DragGAN (SIGGRAPH 2023),16,"[Python, Cuda, C++]"
17,google / googletest,https://github.com/google/googletest,GoogleTest - Google Testing and Mocking Framework,406,"[C++, Python, CMake, C, Starlark, Shell]"
18,Yidadaa / ChatGPT-Next-Web,https://github.com/Yidadaa/ChatGPT-Next-Web,A well-designed cross-platform ChatGPT UI (Web...,118,"[TypeScript, SCSS, JavaScript, Other]"
19,awesome-selfhosted / awesome-selfhosted,https://github.com/awesome-selfhosted/awesome-...,A list of Free Software network services and w...,"1,254",[Makefile]
20,vercel / next.js,https://github.com/vercel/next.js,The React Framework,"2,824","[JavaScript, TypeScript, Rust, MDX, CSS, SCSS]"
21,1Panel-dev / 1Panel,https://github.com/1Panel-dev/1Panel,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,28,"[Go, Vue, SCSS, JavaScript, HTML, CSS]"
22,assafelovic / gpt-researcher,https://github.com/assafelovic/gpt-researcher,GPT based autonomous agent that does online co...,12,"[Python, HTML, JavaScript, CSS, Dockerfile]"
23,dotnet / maui,https://github.com/dotnet/maui,".NET MAUI is the .NET Multi-platform App UI, a...",509,"[C#, PowerShell, Java, Shell, HTML, CSS]"
24,plbrault / youre-the-os,https://github.com/plbrault/youre-the-os,A game where you are a computer's OS and you h...,2,[Python]

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
    You have to find the following details: 
        A) Song name 
        B) Artist name 
        C) Last week rank 
        D) Peak rank 
        E) Weeks on board 
    Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [382]:
# Open the Driver 
url = "https:/www.billboard.com/"
driver = webdriver.Chrome()
driver.get(url) 

# Wait for the results to load
driver.implicitly_wait(10)


remove_popup('//a[@class="btn-close"]')

# Selecting Charts
xpath = '//*[@class="o-nav  "]/ul/li[1]/a'
charts_link = driver.find_element(By.XPATH, xpath).get_attribute('href')
driver.get(charts_link)
print("Selecting CHARTS...")

wait_time = 5
time.sleep(wait_time)
# Selecting Billboard Hot 100
time.sleep(wait_time)
hot100_link = driver.find_element(By.XPATH, '//span[@class="c-label  "]')
hot100_link.click()
print("Selecting Billboard Hot 100...")

# Retrieve elements using Selenium
time.sleep(wait_time)
xpath_grp = '//*[@class="o-chart-results-list-row-container"]'
elements = driver.find_elements(By.XPATH, xpath_grp)

# Convert the elements to HTML strings
html_strings = [element.get_attribute("outerHTML") for element in elements]
print(f"Records retrieved: {len(html_strings)}")
      
# Close the Selenium driver
driver.quit()

Pop-up removed
Selecting CHARTS...
Selecting Billboard Hot 100...

In [386]:
# Scraping data using BeautifulSoup for convenience
rank = []
song_name = []
artist_name = []
last_week_rank = []
peak_rank = []
weeks_on_board = []

for html_string in html_strings:
    soup = BeautifulSoup(html_string, 'html.parser')
    
    rank.append(soup.find('span').text.strip())
    song_name.append(soup.find('h3').text.strip())

    lis = soup.find_all('li', class_="o-chart-results-list__item" )
    artist_name.append(lis[3].text.strip())
    last_week_rank.append(lis[6].text.strip())
    peak_rank.append(lis[7].text.strip())
    weeks_on_board.append(lis[8].text.strip())
    
    df = pd.DataFrame({'rank': rank ,
                   'song_name' :song_name,
                   'artist_name': artist_name,
                   'last_week_rank': last_week_rank,
                   'peak_rank': peak_rank,
                   'weeks_on_board': weeks_on_board})

display(df)

,rank,song_name,artist_name,last_week_rank,peak_rank,weeks_on_board
0,1,Last Night,Last Night\t\t\n\t\n\n\n\t\n\tMorgan Wallen,1,1,28
1,2,Fast Car,Fast Car\t\t\n\t\n\n\n\t\n\tLuke Combs,2,2,20
2,3,Cruel Summer,Cruel Summer\t\t\n\t\n\n\n\t\n\tTaylor Swift,4,3,14
3,4,Calm Down,Calm Down\t\t\n\t\n\n\n\t\n\tRema & Selena Gomez,6,3,49
4,5,Fukumean,Fukumean\t\t\n\t\n\n\n\t\n\tGunna,7,4,8
...,...,...,...,...,...,...
95,96,Lagunas,Lagunas\t\t\n\t\n\n\n\t\n\tPeso Pluma & Jasiel...,-,77,6
96,97,Overdrive,Overdrive\t\t\n\t\n\n\n\t\n\tPost Malone,68,47,3
97,98,"Bzrp Music Sessions, Vol. 55","Bzrp Music Sessions, Vol. 55\t\t\n\t\n\n\n\t\n...",99,31,10
98,99,Dawns,Dawns\t\t\n\t\n\n\n\t\n\tZach Bryan Featuring ...,-,42,15
99,100,Rubicon,Rubicon\t\t\n\t\n\n\n\t\n\tPeso Pluma,-,63,6

In [387]:
# Cleaning the data frame
df['artist_name'] = df['artist_name'].str.extract(r'[ \t]*([^\n\t]+)$')
df.set_index('rank', drop=True, inplace=True)

# Saving the data frame
df.to_csv('datasets/q5_100top_songs.csv')
df

,song_name,artist_name,last_week_rank,peak_rank,weeks_on_board
rank,,,,,
1,Last Night,Morgan Wallen,1,1,28
2,Fast Car,Luke Combs,2,2,20
3,Cruel Summer,Taylor Swift,4,3,14
4,Calm Down,Rema & Selena Gomez,6,3,49
5,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
96,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
97,Overdrive,Post Malone,68,47,3
98,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
99,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
100,Rubicon,Peso Pluma,-,63,6

6. Scrape the details of Highest selling novels. 
    
    url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
    
    You have to find the following details:
        A) Book name 
        B) Author name 
        C) Volumes sold 
        D) Publisher 
        E) Genre

In [468]:
# Open the driver
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver = webdriver.Chrome()
driver.get(url) 

# Wait for the results to load
driver.implicitly_wait(10)

# Scraping the table 
xpath_table = '//table[@class="in-article sortable"]'
df, columns = web_scraping_table(xpath_table, footer=False)

# cleaning driver
driver.quit()

# Setting up the dataframe
df = df.iloc[1:] # deleting the first row that has not valid data
df.columns = ['Rank', 'Book name', 'Author name', 'Volumnes sold', 'Publisher', 'Genre']
df.set_index(['Rank'], inplace=True)

# Saving the data frame
df.to_csv('datasets/q6_Highest_selling_novels.csv')
display(df)

Columns: ['Rank', 'Title', 'Author', 'Volume Sales', 'Publisher', 'Genre']
Recovered 101 records.

,Book name,Author name,Volumnes sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com. 

    Url = https://www.imdb.com/list/ls095964455/ 

    You have to find the following details: 

        A) Name 
        B) Year span 
        C) Genre 
        D) Run time 
        E) Ratings 
        F) Votes

In [458]:
# Open the driver
url = "https://www.imdb.com/list/ls095964455/"
driver = webdriver.Chrome()
driver.get(url) 

# Wait for the results to load
driver.implicitly_wait(10)

# Scraping movies
fn_text = lambda web: text_el(web)
attributes = {'Name': [By.XPATH, '//*[@class="lister-item-header"]/a', fn_text, False],
             'Year span': [By.XPATH, '//*[@class="lister-item-year text-muted unbold"]', fn_text, False],
             'Genre': [By.XPATH, '//*[@class="genre"]', fn_text, False],
             'Run time':[By.XPATH, '//*[@class="runtime"]', fn_text, False],
             'Ratings': [By.XPATH, '//*[@class="ipl-rating-star small"]/span[2]', fn_text, False],
             'Votes': [By.XPATH, '//*[@name="nv"]', fn_text, False]}

df = load_items_by(driver, None, **attributes)

# Cleaning the driver
driver.quit()

# Saving data frame
df.to_csv('datasets/q7_movies_.csv')

# Display data frame
display(df)

Name retrieved and included: 100
Year span retrieved and included: 100
Genre retrieved and included: 100
Run time retrieved and included: 100
Ratings retrieved and included: 100
Votes retrieved and included: 100

,Name,Year span,Genre,Run time,Ratings,Votes
0,Juego de tronos,(2011–2019),"Action, Adventure, Drama",57 min,"9,2",2.193.972
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,"8,7",1.267.622
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"8,1",1.041.373
3,Por trece razones,(2017–2020),"Drama, Mystery, Thriller",60 min,"7,5",306.079
4,Los 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"7,6",265.151
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,"7,5",52.464
96,Una serie de catastróficas desdichas,(2017–2019),"Adventure, Comedy, Drama",50 min,"7,8",64.483
97,Mentes criminales,(2005– ),"Crime, Drama, Mystery",42 min,"8,1",210.175
98,Scream,(2015–2019),"Comedy, Crime, Drama",45 min,7,43.698
99,La maldición de Hill House,(2018),"Drama, Horror, Mystery",572 min,"8,6",263.814

8. Details of Datasets from UCI machine learning repositories. 

    Url = https://archive.ics.uci.edu/

    You have to find the following details: 

        A) Dataset name 
        B) Data type 
        C) Task 
        D) Attribute type 
        E) No of instances 
        F) No of attribute 
        G) Year 
        Note: - from the home page you have to go to the Show All Dataset page through code.

In [431]:
# Open the driver
url = "https://archive.ics.uci.edu/"
driver = webdriver.Chrome()
driver.get(url) 

# Wait for the results to load
wait_time = 3
time.sleep(wait_time)

xpath_btn = '//*[@class="btn-primary btn-sm btn m-1"]'
remove_popup(xpath_btn)

# Selecting VIEW DATASETS
try:
    xpath_viewds = '//*[contains(text(),"View Datasets")]'
    btn_view_ds = driver.find_element(By.XPATH, xpath_viewds)
    btn_view_ds.get_attribute('innerHTML')
    btn_view_ds.click()
    print("Going to DATASETS...")
    
except Exception as e:
    print(f"Option VIEW DATASETS not found. {e.msg}")
    print("Going directly to DATASETS")
    driver.get( url + "datasets")
    
wait_time = 5
time.sleep(wait_time)

# Selecting 25 records by page 
select_element = driver.find_element(By.CLASS_NAME, "select-primary")
select = Select(select_element)
select.select_by_value("25")
selected_option = select.first_selected_option
print(f"Rows per page:{selected_option.text}")

# Expand all datasets
xpath_swap = '//*[@class="swap"]'
expand_btn = driver.find_element(By.XPATH, xpath_swap)
expand_btn.click()

# Retriving the total of records
try:
    xpath_total = '//*[contains(text(),"Rows per page")]/following::p/span[3]'
    total_ds_wel = driver.find_element(By.XPATH, xpath_total)
    total_ds = int(total_ds_wel.text)
    print(f"{total_ds} datasets to retrieve...")
except NoSuchElementException:
    total_ds = 0
    print("No datasets to retrieve")

Pop-up removed
Going to DATASETS...
Rows per page:25
643 datasets to retrieve...

##### Scraping the data

In [432]:
# Defining lambda functions to retrieved each element
fn_text = lambda web: text_el(web)
attributes = {'Dataset name': [By.XPATH, '//h2[@class="truncate text-primary"]', fn_text, False], 
             'Data type': [By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span', fn_text, False],
             'Task': [By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span', fn_text, False],
             'Attribute type': [By.XPATH, '//table/tbody/tr/td[2]', fn_text, False],
             'No of instances': [By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span', fn_text, False],
             'No of attribute': [By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span', fn_text, False],
             'Date Donated': [By.XPATH, '//table/tbody/tr/td[3]', fn_text, False]}

# Initializing the dataframe and setting n_pag
df_final = pd.DataFrame({})
n_pag = round(total_ds/25)

# Scraping the datasets page by page
for i in range(n_pag):
    
    time.sleep(10) #waiting time for page
    df = load_items_by(driver, None, **attributes)
    
    # Checking n records retrieved
    if len(df)>0:
        df_final = pd.concat([df_final, df], axis=0)
        print(f'{len(df_final)}/{total_ds} datasets retrieved')
    else:
        print(f"0 datasets retrieved.")
        
    # Going to next page
    try:
        if(i+2 <= n_pag and len(df_final) < total_ds and len(df)>0):
            xpath_nextbtn = '//*[@aria-label="Next Page"]'
            go_next_page(driver, xpath_nextbtn)
            print(f"page: {i+2}")
    except Exception as e:
        print(f"Something happend retrieving the data: {e.msg}")
        
# Cleaning the driver
driver.quit()

Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
25/643 datasets retrieved
 Going to
page: 2
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
50/643 datasets retrieved
 Going to
page: 3
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
75/643 datasets retrieved
 Going to
page: 4
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
100/643 datasets retrieved
 Going to
page: 5
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
125/643 datasets retrieved
 Going to
page: 6
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
150/643 datasets retrieved
 Going to
page: 7
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
175/643 datasets retrieved
 Going to
page: 8
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
200/643 datasets retrieved
 Going to
page: 9
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
225/643 datasets retrieved
 Going to
page: 10
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
250/643 datasets retrieved
 Going to
page: 11
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
275/643 datasets retrieved
 Going to
page: 12
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
300/643 datasets retrieved
 Going to
page: 13
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
325/643 datasets retrieved
 Going to
page: 14
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
350/643 datasets retrieved
 Going to
page: 15
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
375/643 datasets retrieved
 Going to
page: 16
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
400/643 datasets retrieved
 Going to
page: 17
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
425/643 datasets retrieved
 Going to
page: 18
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
450/643 datasets retrieved
 Going to
page: 19
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
475/643 datasets retrieved
 Going to
page: 20
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
500/643 datasets retrieved
 Going to
page: 21
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
525/643 datasets retrieved
 Going to
page: 22
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
550/643 datasets retrieved
 Going to
page: 23
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
575/643 datasets retrieved
 Going to
page: 24
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
600/643 datasets retrieved
 Going to
page: 25
Dataset name retrieved and included: 25
Data type retrieved and included: 25
Task retrieved and included: 25
Attribute type retrieved and included: 25
No of instances retrieved and included: 25
No of attribute retrieved and included: 25
Date Donated retrieved and included: 25
625/643 datasets retrieved
 Going to
page: 26
Dataset name retrieved and included: 18
Data type retrieved and included: 18
Task retrieved and included: 18
Attribute type retrieved and included: 18

No of instances retrieved and included: 18
No of attribute retrieved and included: 18
Date Donated retrieved and included: 18
643/643 datasets retrieved

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Date Donated
0,Iris,Multivariate,Classification,Real,150 Instances,4 Attributes,6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Attributes,6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Attributes,4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Attributes,9/13/2020
4,Diabetes,,,"Categorical, Integer",,20 Attributes,N/A
...,...,...,...,...,...,...,...
13,Influenza outbreak event prediction via Twitter,Multivariate,Classification,"Real, Integer",75.84K Instances,523 Attributes,8/14/2023
14,Average Localization Error (ALE) in sensor nod...,Multivariate,Regression,Real,107 Instances,6 Attributes,8/13/2023
15,Turkish Music Emotion,Multivariate,Classification,"Real, Integer",400 Instances,50 Attributes,8/14/2023
16,Gender Gap in Spanish WP,Multivariate,Classification,"Real, Integer",4.75K Instances,21 Attributes,8/13/2023
17,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Attributes,8/13/2023

In [442]:
# Cleaning the data frame
display(df_final)
df_final['No of attribute'] = df_final['No of attribute'].str.extract(r'(\d+) Attributes$')
df_final['No of instances'] = df_final['No of instances'].str.extract(r'(\d\w+) Instances$')
df_final['Year'] = df_final['Date Donated'].str.extract(r'/(\d+)$')
df_final.fillna('-', inplace=True)

# Saving the data frame
df_final.to_csv('datasets/q8_UCI_datasets.csv')

In [449]:
df_final

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Date Donated,Year
0,Iris,Multivariate,Classification,Real,150,4,6/30/1988,1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988,1988
2,Adult,Multivariate,Classification,"Categorical, Integer",84K,14,4/30/1996,1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",61K,16,9/13/2020,2020
4,Diabetes,,,"Categorical, Integer",-,20,N/A,-
...,...,...,...,...,...,...,...,...
13,Influenza outbreak event prediction via Twitter,Multivariate,Classification,"Real, Integer",84K,523,8/14/2023,2023
14,Average Localization Error (ALE) in sensor nod...,Multivariate,Regression,Real,107,6,8/13/2023,2023
15,Turkish Music Emotion,Multivariate,Classification,"Real, Integer",400,50,8/14/2023,2023
16,Gender Gap in Spanish WP,Multivariate,Classification,"Real, Integer",75K,21,8/13/2023,2023
17,Raisin,Multivariate,Classification,"Real, Integer",900,8,8/13/2023,2023

### Common functions
All functions used are my own. As we have progressed in the assignments, I have been improving the code so that they are more general and can be applied in different scenarios. I decided to do it this way to improve and progress my knowledge of python.
By Monica Atiaga

In [202]:
def get_attribute_el(webelement, attribute):
    return (webelement.get_attribute(attribute))

def text_el(webelement):
    return webelement.text

def go_next_page(driver, xpath):
    ''' Go to the next page'''
        
    next_btn = driver.find_element(By.XPATH, xpath)
    print(f" Going to {next_btn.text}")
    
    # scroll until button be visible
    actions = ActionChains(driver)
    actions.move_to_element(next_btn).perform()

    # Wait until the button be visible (loading compleated)
    wait = WebDriverWait(driver, 15)
    wait.until(EC.element_to_be_clickable((By.XPATH, xpath)))

    # Click the button once it is clickable
    next_btn.click()

def load_items_by(driver, n=None, **kwargs):
    ''' Load items on the page with the attributes sent in kwargs.
        n: number of products required
        kwargs: dictionary with key, xpath_config(by, xpath, fn, is_list) 
        Return: a DataFrame with the info
    '''
    data_retrieved = {}
    lenght_ref = -1
    
    for key, xpath_config in kwargs.items():
        
        by, xpath, fn, is_list = xpath_config
        
        try:
            tags = driver.find_elements(by, xpath )  # scraping
        
            if fn is not None:
                items = [ fn(tag) for tag in tags] # If lambda is specified it applies
            else:
                items = [ tag.text for tag in tags]  # Default: text function
            
            if(lenght_ref <0): # Setting the n items in the first iteration
                lenght_ref = len(items)
           
            if(lenght_ref == len(items)):
                data_retrieved[key] = items
                print(f"{key} retrieved and included:", len(items))
            else:
                data_retrieved[key] = [None for _ in range(lenght_ref)]
                print(f"{key} retrieved NOT COMPATIBLE:", len(items))
        
        except NoSuchElementException:
            print(f"{xpath} not found")
        
    df = pd.DataFrame(data_retrieved)
        
    if ( bool(n) and (n < len(df))): #checking the n registers needed
        return (df.iloc[0:n,:])
    
    return df
    
def remove_popup(xpath):
    # Check if an element on the new page is present
    try:
        close_button  = driver.find_element(By.XPATH, xpath)
        close_button.click() 
        print("Pop-up removed")
    except NoSuchElementException:
        print("No pop-up windows was found")

In [273]:
def scrape_item_detail(driver, not_found_value = '-', **kwargs):
    '''Retrieve all the attributes sent in kwargs.
       Return: a Data frame with the data.'''
    data = {}
    
    for key, xpath_config in kwargs.items():
        items = []
        
        by, xpath_param, fn, is_list = xpath_config

        try:
            tag_item = driver.find_elements(by, xpath_param )
            
            if (not(is_list) and len(tag_item) > 0): 
                # adding attribute individually -Description 
                items.append(fn(tag_item[0]))
            elif (is_list and len(tag_item) > 0): 
                # adding attributes as a list
                items.append([fn(tag) for tag in tag_item])
            else:
                # If there is not attribute '-' : not_found_param
                items.append(not_found_value)
        except NoSuchElementException:
            print("Element not found")
            items.append(not_found_value)

        data[key] = items

    return pd.DataFrame(data)

def scrape_data_by_urls(urls, attributes_det):
    ''' Scrape the data in attributes_det from each url in urls.
    urls: a Serie with URLs
    attributes_det: attributes configuration to scrape the data'''
    # Initializing dataframe
    df_det = pd.DataFrame(columns=[*attributes_det.keys()])

    for i, url in enumerate(urls):
        
        try:
            driver.set_page_load_timeout(10) 
            driver.get(url)
            print(f"Retrieving Details of record: {i+1}/{len(urls)}, url: {url}")
        except TimeoutException:
            print(f"The page could not be loaded completed within the specified time. {i+1}/{len(urls)}, URL: {url}")

        wait_time = 3
        time.sleep(wait_time)

        # Scrape the data in each url
        df2 = scrape_item_detail(driver, **attributes_det)
        df_det = pd.concat([df_det, df2], ignore_index=True)
            
    return df_det

In [159]:
def web_scraping_table(xpath_table, init_data=1, footer=False):
    ''' Recover the data from the table with xpath_table sent.
    footer: Specifies if it is necessary to remove the footer of the table'''
    table = driver.find_element(By.XPATH, xpath_table)

    rows = table.find_elements(By.TAG_NAME, 'tr')

    header_tags = rows[0].find_elements(By.TAG_NAME, 'th')
    columns = [h.text for h in header_tags ]
    print(f"Columns: {columns}")

    table_data = []
    
    if footer:
        end_row = len(rows) -1
    else:
        end_row = len(rows)

    for row in rows[init_data:end_row]:
        row_data = [cell.text for cell in row.find_elements(By.TAG_NAME, 'td')]
        table_data.append(row_data)

    print(f"Recovered {len(table_data)} records.")

    df = pd.DataFrame(table_data)
    
    if len(columns) == df.shape[1] : 
        df.columns = columns
        
    return [df, columns]