# Assigment - 2 - Web Scrapping
By Mónica Atiaga

Batch - DSNB1222

1. All the questions must be done in a single Jupyternotebook.
2. There should be proper comments in code.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [8]:
#!pip install webdriver-manager

Collecting webdriver-manager
  Downloading webdriver_manager-3.8.6-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: packaging in c:\users\monica\anaconda3\lib\site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: tqdm in c:\users\monica\anaconda3\lib\site-packages (from webdriver-manager) (4.64.1)
Collecting python-dotenv
  Downloading python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Requirement already satisfied: requests in c:\users\monica\anaconda3\lib\site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\monica\anaconda3\lib\site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\monica\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\monica\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\monica\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\monica\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: colorama in c:\users\monica\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.5)
Installing collected packages: python-dotenv, webdriver-manager
Successfully installed python-dotenv-1.0.0 webdriver-manager-3.8.6

**Q1:** Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
**Note: All of the above steps have to be done in code. No step is to be done manuall**

In [3]:
driver = webdriver.Chrome()
driver.get("http://www.naukri.com/")

designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Analyst')

location = driver.find_element(By.XPATH, "/html/body/div/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

**Q2:** Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
**Note: All of the above steps have to be done in code. No step is to be done manually**

**Q3:** In this question you have to scrape data using the filters available on the webpage as shown below

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required. 

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:

1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respectiveboxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scrapeddata.
**Note: All of the above steps have to be done in code. No step is to be done manually.**

**Q4:** Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrap data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
**Note: That all of the above steps have to be done by coding only and not manually.**

In [18]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

import regex as re
import math
import random

In [190]:
def load_products_by_page(driver, n=None):
    ''' Load the products with brand, description and price on the page.
        n: number of products required
        Return: a DataFrame with the info of the products
    '''
    # scraping Brands using list comprehension
    brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    brand = [ tag.text for tag in brand_tags]
    print("Brands retrived:", len(brand))
    
    # scraping Product Descriptions: some products  class="IRpwTa" and other class="IRpwTa _2-ICcC"
    prod_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]') 
    product_desc = [ tag.text for tag in prod_tags]
    print("Desc. retrived:", len(product_desc))

    
    # scraping Price
    price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    price = [tag.text for tag in price_tags]
    print("Prices retrived:", len(price))
    
    # % off 
    poff_tags = driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')
    p_off = [tag.text for tag in poff_tags]
    print("% off retived:", len(p_off))
    
     
    if(len(brand) == len(product_desc) and len(brand) == len(price) and len(brand)==len(p_off)):
        # n=None or the required records are equal or more than the retrived records
        if (not(n) or len(brand)<=n):
            return pd.DataFrame({'Brand': brand,
                              'Product description': product_desc,
                              'Price': price,
                              '% off': p_off})
        elif(len(brand)> n):
            return pd.DataFrame({'Brand': brand[:n],
                              'Product description': product_desc[:n],
                              'Price': price[:n],
                              '% off': p_off[:n]})
    
    return pd.DataFrame()

def go_next_page2(driver, i):
    ''' Go to the next page of products'''
    if (i == 0):
        next_pos = 11
    else:
        next_pos = 12
        
    next_btn = driver.find_element(By.XPATH, f'//nav[@class="yFHi8N"]/a[{next_pos}]')
    print(next_pos,  next_btn.text)
    # scroll until button be visible
    actions = ActionChains(driver)
    actions.move_to_element(next_btn).perform()

    # Wait until the button be visible (loading compleated)
    wait = WebDriverWait(driver, 30)
    wait.until(EC.element_to_be_clickable((By.XPATH, f'//nav[@class="yFHi8N"]/a[{next_pos}]')))

    # Click the button once it is clickable
    next_btn.click()

def wait_random(driver):
    '''Simulate random number of timeouts'''
    time_to_wait = random.choice([60, 15, 30, 45])
    print(f"Waiting..{time_to_wait} seconds.")
    WebDriverWait(driver, time_to_wait)   # Esperar hasta n segundos
    
def retrive_product_per_page(driver, xpath):
    # Retrive the total number of products from the search and 
    # the number of products on the retrived page
    reg = driver.find_element(By.XPATH, xpath)

    pattern = r'\b\d{1,3}(?:,\d{3})*\b|\b\d+\b'
    matches = re.findall(pattern, reg.text)
    numbers_without_commas = [match.replace(',', '') for match in matches]
    nreg = [*map(int, numbers_without_commas)]
    
    return nreg

In [181]:
def cleaning_products(df):
    # Cleaning the data
    pattern = r'(\d+%)'
    df['% off'] = df['% off'].str.extract(pattern)
    return (df)
    
def remove_popup():
    # Check if an element on the new page is present
    try:
        close_button  = driver.find_element(By.XPATH, '//button[@class="_2KpZ6l _2doB4z"]')
        close_button.click() 
        print("Pop-up removed")
    except NoSuchElementException:
        print("No pop-up windows was found")

def retrieve_products(n):
    ''' Retrieve the products advancing page by page until completing all "n" products.
        Return: a dataframe with the products'''
    # Checking the found records
    first, second, total = retrive_product_per_page(driver, '//span[@class="_10Ermr"]')
    total_records_to_retrive = n

    if(total < total_records_to_retrive):
        total_records_to_retrive = total

    df_products = pd.DataFrame()
    i = 0 

    while( total_records_to_retrive > 0 ):

        print('*'*40, 'i=' ,i)

        wait_time = 10
        time.sleep(wait_time)

        df = load_products_by_page(driver, total_records_to_retrive) 
        df_products = pd.concat([df_products,df])

        total_records_to_retrive -= len(df)

        print("total_records_to_retrive left", total_records_to_retrive)
        print("retrived records:", len(df_products))

        if (total_records_to_retrive > 0):
            wait_random(driver)
            go_next_page2(driver, i)

        i += 1

    print( f'Products retrived successfully: {len(df_products)}' )
    
    # Reseting index
    df_products.reset_index(drop=True, inplace=True)
    
    return (df_products)
        
        
def search_product(product):
    try:
        input = driver.find_element(By.XPATH, '//input[@class="Pke_EE" or @class="_3704LK"]') 
        input.send_keys(product)
        print(f"Search for {product}")

        WebDriverWait(driver, 10)

        btn = driver.find_element(By.XPATH, '//button[@class="_2iLD__" or @class="L0Z3Pu"]') 
        btn.click()
        print("Click successful")

    except NoSuchElementException:
        print("An element wasn't found.")

Web scraping - Begin

In [182]:
driver = webdriver.Chrome()

In [183]:
driver.get("https://www.flipkart.com/")

# Closing pop-up window
wait = WebDriverWait(driver, 30)

remove_popup()

Pop-up removed

In [184]:
product = 'sunglasses'
search_product(product)

Search for sunglasses
Click successful

In [185]:
df_products = retrieve_products(100)

**************************************** i= 0
Brands retrived: 40
Desc. retrived: 40
Prices retrived: 40
% off retived: 40
total_records_to_retrive left 60
retrived records: 40
Waiting..45 seconds.
11 NEXT
**************************************** i= 1
Brands retrived: 40
Desc. retrived: 40
Prices retrived: 40
% off retived: 40
total_records_to_retrive left 20
retrived records: 80
Waiting..60 seconds.
12 NEXT
**************************************** i= 2
Brands retrived: 40
Desc. retrived: 40
Prices retrived: 40
% off retived: 40
total_records_to_retrive left 0
retrived records: 100
Products retrived successfully: 100

In [186]:
# Checking the size of dataframe
df_products.shape

(100, 4)

In [188]:
df_products = cleaning_products(df_products)    
display(df_products.tail())

# Saving the result dataset
df_products.to_csv('webScraping2_datasets/q4_products.csv')

,Brand,Product description,Price,% off
95,SUNBEE,UV Protection Cat-eye Sunglasses (Free Size),₹195,80%
96,Eyewearlabs,"UV Protection, Polarized Retro Square Sunglass...","₹2,199",38%
97,LOUIS KOUROS,"UV Protection, Riding Glasses, Mirrored Aviato...","₹1,499",44%
98,SUNBEE,"UV Protection, Polarized, Mirrored Aviator Sun...",₹215,78%
99,LIZA ANGEL,"UV Protection, Night Vision, Riding Glasses Wa...",₹249,80%

In [189]:
# Cleaning
driver.quit()

**Q5:** Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
**Note: All the steps required during scraping should be done through code only and not manually.**

#### Functions:

In [361]:
def load_items_by_page(driver, n=None, **kwargs):
    ''' Load items on the page with the attributes sent in kwargs.
        n: number of products required
        kwargs: dictionary with key, value = label, XPATH to retrieve 
        Return: a DataFrame with the info of the products
    '''
    data_retrieved = {}
    lenght_ref = -1
    
    for key, xpath in kwargs.items():
        # scraping Brands using list comprehension
        tags = driver.find_elements(By.XPATH, xpath )
        items = [ tag.text for tag in tags]
        
        if(lenght_ref <0):
            lenght_ref = len(items)
        
        if(lenght_ref == len(items)):
            data_retrieved[key] = items
            print(f"{key} retrieved and included:", len(items))
        else:
            data_retrieved[key] = [None for _ in range(lenght_ref)]
            print(f"{key} retrieved NOT COMPATIBLE:", len(items))

    df = pd.DataFrame(data_retrieved)
        
    if (n < len(df)):
        return (df.iloc[0:n,:])
    
    return df

In [193]:
def retrieve_reviews(n, dict):
    ''' Retrieve the reviews advancing page by page until completing all "n" products.
        dict : Dictionary with the attributes and xpaths
        
        Return: a dataframe'''
    # Checking the number of records
    first, total = retrive_product_per_page(driver, '//div[@class="_2MImiq _1Qnn1K"]/span')
    total_records_to_retrive = n
    
    # Setting the records to retrieve
    if(total < total_records_to_retrive):
        total_records_to_retrive = total
        
    df_all = pd.DataFrame()
    i = 0 

    while( total_records_to_retrive > 0 ):

        print('*'*40, 'i=' ,i)
        
        # Waiting for the page to load
        wait_time = 10
        time.sleep(wait_time)

        df = load_items_by_page(driver, total_records_to_retrive, **dict) 
        df_all = pd.concat([df_all,df])

        total_records_to_retrive -= len(df)

        print("total_records_to_retrive left", total_records_to_retrive)
        print("retrived records:", len(df_all))

        if (total_records_to_retrive > 0):
            wait_random(driver)
            go_next_page2(driver, i)

        i += 1

    print( f'Records retrived successfully: {len(df_all)}' )
    
    # Reseting index
    df_all.reset_index(drop=True, inplace=True)
    return (df_all)

#### Web scraping - start

In [167]:
driver = webdriver.Chrome()

In [168]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART"
driver.get(url)

In [169]:
first, total = retrive_product_per_page(driver, '//div[@class="_2MImiq _1Qnn1K"]/span')
print(total)

1130

In [173]:
dict = {
    'Rating': '//div[@class="_3LWZlK _1BLPMq"]',
    'Review sumary': '//p[@class="_2-N8zT"]',
    'Full review': '//div[@class="t-ZTKy"]/div/div'}

df_reviews = retrieve_reviews(100, dict)

**************************************** i= 0
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 90
retrived records: 10
Waiting..60 seconds.
11 NEXT
**************************************** i= 1
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 80
retrived records: 20
Waiting..60 seconds.
12 NEXT
**************************************** i= 2
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 70
retrived records: 30
Waiting..30 seconds.
12 NEXT
**************************************** i= 3
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 60
retrived records: 40
Waiting..15 seconds.
12 NEXT
**************************************** i= 4
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 50
retrived records: 50
Waiting..60 seconds.
12 NEXT
**************************************** i= 5
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 40
retrived records: 60
Waiting..60 seconds.
12 NEXT
**************************************** i= 6
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 30
retrived records: 70
Waiting..30 seconds.
12 NEXT
**************************************** i= 7
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 20
retrived records: 80
Waiting..60 seconds.
12 NEXT
**************************************** i= 8
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 10
retrived records: 90
Waiting..60 seconds.
12 NEXT
**************************************** i= 9
Rating retrieved and included: 10
Review sumary retrieved and included: 10
Full review retrieved and included: 10
total_records_to_retrive left 0
retrived records: 100
Records retrived successfully: 100

,Rating,Review sumary,Full review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific purchase,Value for money 😍
3,5,Wonderful,This is amazing at all
4,5,Brilliant,Excellent Phone.
...,...,...,...
5,5,Wonderful,Quality camera
6,5,Must buy!,Best Apple iPhone that i have bought at a very...
7,5,Super!,Exactly mach what you expect and where Spent y...
8,5,Highly recommended,Excellent product but packing was not upto mark..
9,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...

In [174]:
# Cleaning
driver.quit()

In [179]:
# Correcting index
df_reviews.reset_index(drop=True, inplace=True)
df_reviews

,Rating,Review sumary,Full review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific purchase,Value for money 😍
3,5,Wonderful,This is amazing at all
4,5,Brilliant,Excellent Phone.
...,...,...,...
95,5,Wonderful,Quality camera
96,5,Must buy!,Best Apple iPhone that i have bought at a very...
97,5,Super!,Exactly mach what you expect and where Spent y...
98,5,Highly recommended,Excellent product but packing was not upto mark..
99,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...

In [191]:
# Saving the result dataset
df_reviews.to_csv('webScraping2_datasets/q5_reviews.csv')

**Q6:** Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.

You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

As shown in the below image, you have to scrape the above attributes.

#### web scraping start

In [97]:
driver = webdriver.Chrome()

In [98]:
driver.get("https://www.flipkart.com/")

# Closing pop-up window
wait = WebDriverWait(driver, 30)

remove_popup()

Pop-up removed

In [99]:
product = 'sneakers'
search_product(product)

Search for sneakers
Click successful

In [100]:
df_products = retrieve_products(100)

**************************************** i= 0
Brands retrived: 40
Desc. retrived: 40
Prices retrived: 40
% off retived: 40
total_records_to_retrive left 60
retrived records: 40
Waiting..60 seconds.
**************************************** i= 1
Brands retrived: 40
Desc. retrived: 40
Prices retrived: 40
% off retived: 40
total_records_to_retrive left 20
retrived records: 80
Waiting..30 seconds.
**************************************** i= 2
Brands retrived: 40
Desc. retrived: 40
Prices retrived: 40
% off retived: 40
total_records_to_retrive left 0
retrived records: 100
Products retrived successfully: 100

In [101]:
df_products.shape

(100, 4)

In [102]:
# Cleaning the products and set index
cleaning_products(df_products)    
display(df_products.tail())

# Saving the result dataset
df_products.to_csv('webScraping2_datasets/q6_sneakers.csv')

       Brand                                Product description Price % off
95      aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...  ₹299   70%
96  ASTEROID  Men's Outdoor Color Change Sneakers Colorblock...  ₹749   83%
97    Footox  Men's Shoes | Casual Shoes | Sports Shoes Snea...  ₹299   70%
98     asian  Men's W-05 Casual White Sneaker Shoes With Wat...  ₹659   34%
99    Kraasa                                 Sneakers For Women  ₹399   60%

In [103]:
# Cleaning
driver.quit()

**Q7:** Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

#### web scraping start

In [346]:
driver = webdriver.Chrome()

In [347]:
url = "https://www.amazon.in/"
driver.get(url)

In [348]:
product = 'Laptop'

input = driver.find_element(By.XPATH, '//input[@id="twotabsearchtextbox"]') 
input.send_keys(product)

wait = WebDriverWait(driver, 10)

btn = driver.find_element(By.XPATH, '//input[@id="nav-search-submit-button"]') 
btn.click()

In [349]:
# Check the option "Intel Core i7"
checkbox = driver.find_element(By.XPATH, '//li[@aria-label="Intel Core i7"]/span/a')

if checkbox.is_enabled():
    checkbox.click()   
else:
    print("Checkbox is disable")

In [350]:
attributes = {
    'Title': '//span[@class="a-size-medium a-color-base a-text-normal"]',
    'Rating': "a-icon-alt", #By.CLASS_NAME
    'Price': '//span[@class="a-price"]//span[@class="a-offscreen"]',
    'container': '//div[@class="a-section a-spacing-small a-spacing-top-small"]'
}

In [351]:
# Retriving the titles
title_tags = driver.find_elements(By.XPATH, attributes['Title'])
titles = [el.text for el in title_tags]
print(len(titles))

24

In [352]:
# Retriving the prices
price_tags = driver.find_elements(By.XPATH, attributes['Price'])
prices = [el.get_attribute("innerHTML") for el in price_tags][0:len(titles)]
print(len(prices))

24

In [353]:
# Some laptops have rating and others have not, hence each container with the data of the product was retrieved
container_tags = driver.find_elements(By.XPATH, attributes['container'])

ratings = []

for tag in container_tags[1:]:
    try:
        item = tag.find_element(By.CLASS_NAME, attributes['Rating'])
        ratings.append(item.get_attribute("innerHTML"))
    except NoSuchElementException:
        ratings.append(None)
    
print(len(ratings))

24

In [354]:
total_laptops = 10

laptops_df = pd.DataFrame({'Title': titles[:total_laptops],
                           'Rating': ratings[:total_laptops],
                           'Price': prices[:total_laptops]
                          })

laptops_df.to_csv('webScraping2_datasets/q7_laptops.csv')
laptops_df

,Title,Rating,Price
0,"ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...",4.1 out of 5 stars,"₹64,990"
1,Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...,2.5 out of 5 stars,"₹62,990"
2,Acer Nitro 5 AN515-58 Gaming Laptop 12th Gen I...,4.3 out of 5 stars,"₹1,04,990"
3,"MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...",4.0 out of 5 stars,"₹71,990"
4,"HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...",3.6 out of 5 stars,"₹79,990"
5,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,4.1 out of 5 stars,"₹64,999"
6,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",4.0 out of 5 stars,"₹89,990"
7,"ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...",4.5 out of 5 stars,"₹1,15,990"
8,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,4.4 out of 5 stars,"₹80,990"
9,"Dell Vostro 5630 13th Gen Laptop, Intel Core i...",5.0 out of 5 stars,"₹90,004"

In [355]:
driver.quit()

**Q8:** Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [ ]:
def retrieve_reviews(n, dict):
    ''' Retrieve the reviews advancing page by page until completing all "n" products.
        dict : Dictionary with the attributes and xpaths
        
        Return: a dataframe'''
    # Checking the number of records
    first, total = retrive_product_per_page(driver, '//div[@class="_2MImiq _1Qnn1K"]/span')
    total_records_to_retrive = n
    
    # Setting the records to retrieve
    if(total < total_records_to_retrive):
        total_records_to_retrive = total
        
    df_all = pd.DataFrame()
    i = 0 

    while( total_records_to_retrive > 0 ):

        print('*'*40, 'i=' ,i)
        
        # Waiting for the page to load
        wait_time = 10
        time.sleep(wait_time)

        df = load_items_by_page(driver, total_records_to_retrive, **dict) 
        df_all = pd.concat([df_all,df])

        total_records_to_retrive -= len(df)

        print("total_records_to_retrive left", total_records_to_retrive)
        print("retrived records:", len(df_all))

        if (total_records_to_retrive > 0):
            wait_random(driver)
            go_next_page2(driver, i)

        i += 1

    print( f'Records retrived successfully: {len(df_all)}' )
    
    # Reseting index
    df_all.reset_index(drop=True, inplace=True)
    return (df_all)

In [426]:
def go_next_page(driver, xpath):
    ''' Go to the next page'''
        
    next_btn = driver.find_element(By.XPATH, xpath)
    
    # scroll until button be visible
    actions = ActionChains(driver)
    actions.move_to_element(next_btn).perform()

    # Wait until the button be visible (loading compleated)
    wait = WebDriverWait(driver, 15)
    wait.until(EC.element_to_be_clickable((By.XPATH, xpath)))

    # Click the button once it is clickable
    next_btn.click()

#### web scraping start

In [357]:
driver = webdriver.Chrome()

wait_time = 3
time.sleep(wait_time)

url = "https://www.azquotes.com/"
driver.get(url)

In [359]:
try:
    link_tq = driver.find_element(By.XPATH, '//a[starts-with(@href,"/top_quotes")]')
    link_tq.click()
    print("Top Quotes clicked")
except NoSuchElementException:
    print("Top Quotes link wasn't find")

Top Quotes clicked

In [422]:
def text_el(webelement):
    return webelement.text

def get_topics_el(webelement):
    return ([link.text for link in webelement.find_elements(By.TAG_NAME, 'a')])

def load_quotes_by_page(driver, n=None, **kwargs):
    ''' Load items on the page with the attributes sended in kwargs.
        n: number of products required
        kwargs: dictionary with key, value = label, XPATH to retrieve 
        Return: a DataFrame with the info of the products
    '''
    block_tags = driver.find_elements(By.XPATH, '//div[@class="wrap-block"]')

    data_retrieved = {}

    for key, value in attribute.items():
        print(key,value[0])
        items = [b.find_element(By.CLASS_NAME, value[0]) for b in block_tags]

        items = [value[1](i) for i in items]
        data_retrieved[key] = items
        print(len(items))

    df = pd.DataFrame(data_retrieved)

    if (n < len(df)):
        return (df.iloc[0:n,:])

    return df

In [424]:
attribute = {'Quote': ['title', lambda wel: text_el(wel)],
            'Author': ['author', lambda wel: text_el(wel)],
            'Type Of Quotes': ['tags', lambda wel: get_topics_el(wel)]}

total_quotes = 1000
total_records_to_retrive = 1000

df = load_quotes_by_page(driver, total_records_to_retrive, **attribute )
# df_all = pd.concat([df_all,df])

Quote title
100
Author author
100
Type Of Quotes tags
100

In [425]:
df.iloc[0,:]['Quote']
df.iloc[0,:]['Author']
print(df.iloc[0,:]['Type Of Quotes'])
df

['Essence', 'Deep Thought', 'Transcendentalism']

,Quote,Author,Type Of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"[Essence, Deep Thought, Transcendentalism]"
1,One cannot and must not try to erase the past ...,Golda Meir,"[Inspiration, Past, Trying]"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"[Country, Peace, War]"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"[Inspirational, Motivational, Death]"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"[4th Of July, Food, Patriotic]"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"[Music, Sports, Hunting]"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"[Trust, Encouraging, Uplifting]"
97,If you think you are too small to make a diffe...,Dalai Lama,"[Inspirational, Funny, Change]"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"[Success, God, Mother]"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"[Inspirational, Motivational, Change]"

In [427]:
go_next_page(driver, '//li[@class="next"]//a')

In [356]:
driver.quit()

**Q9:** Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

**Q10:** Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/

This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.